body{
    max-width: 1920px;
    background-image: url("https://static3.depositphotos.com/1000152/162/i/600/depositphotos_1628055-stock-photo-sun-in-a-blue-cloudy.jpg");
    background-size: cover;
}
.App {
    text-align: center;
    overflow-x: hidden;
}

.logo{
   font-size: 30px;
}

.weather{
    display: flex;
    justify-content: space-between;
}


